<header>
    <!-- Cabecera de la Página -->
    <section class="main-header">
        <div class="burguer-menu">
            <i class="fa-solid fa-bars"></i>
        </div>

        <a href="/"><img class="img-logo" src="/img/logos/Agust-png.png" alt="logo-Agust"></a>
        </div>
        <nav class="navbar-header">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products/list">Products</a></li>
                <li><a href="/">Inspiration</a></li>
            </ul>
        </nav>

       
            <form class="search-desktop" action="/products/search" method="GET">
            <input class="search-bar-desktop" type="search" 
                name="search" placeholder="Search">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>


       
    </section>

    <form class="search-mobile" action="/products/search" method="GET">
        <input class="search-bar-mobile" type="search" 
            name="search" placeholder="Search">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>


</header>