<html lang="en">
<!-- head -->
<%- include('../partials/head')%>

<body>
    <!-- header -->
    <%- include('../partials/header')%>
    <!--main  -->
    <main class="main-container-create">

        <div class="form-group-create">


            <h1 class="title">Create a new product</h1>

            
                
            </form>

        </div>


    </main>
    <!-- footer -->
    <%- include('../partials/footer')%>
    <script src="/js/productsValidations.js"></script>
</body>

</html>